USE [master]
GO
/****** Object:  Database [TEKNOLOJI_MAGAZA]    Script Date: 30.12.2022 22:29:27 ******/
CREATE DATABASE [TEKNOLOJI_MAGAZA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEKNOLOJI_MAGAZA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TEKNOLOJI_MAGAZA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TEKNOLOJI_MAGAZA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TEKNOLOJI_MAGAZA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEKNOLOJI_MAGAZA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEKNOLOJI_MAGAZA]
GO
/****** Object:  Table [dbo].[AYLIK_SATIS]    Script Date: 30.12.2022 22:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AYLIK_SATIS](
	[URUN_ID] [int] NOT NULL,
	[URUN_GRUP_ID] [int] NOT NULL,
	[URUN_ADI] [nvarchar](255) NOT NULL,
	[HEDEFLENEN_SATIS] [int] NOT NULL,
	[GERCEKLESEN_SATIS] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AYLIK_SATIS_BILGILERI]    Script Date: 30.12.2022 22:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AYLIK_SATIS_BILGILERI](
	[TESLIMAT_ID] [int] NOT NULL,
	[URUN_ID] [int] NOT NULL,
	[MUSTERI_ID] [int] NOT NULL,
	[ODEME_YONTEMI_ID] [int] NOT NULL,
	[SATIS_KANALI_ID] [int] NOT NULL,
	[IADE_DURUMU_ID] [int] NOT NULL,
	[SIPARIS_TARIHI] [date] NOT NULL,
	[TESLIMAT_TARIHI] [date] NULL,
 CONSTRAINT [PK_SATIS_BILGILERI] PRIMARY KEY CLUSTERED 
(
	[TESLIMAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HATA_DURUMLARI]    Script Date: 30.12.2022 22:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HATA_DURUMLARI](
	[HATA_ID] [int] NOT NULL,
	[HATA_DURUMULARI] [nvarchar](200) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HATALI_URUNLER]    Script Date: 30.12.2022 22:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HATALI_URUNLER](
	[HATALI_URUN_ID] [int] NOT NULL,
	[URUN_ID] [int] NOT NULL,
	[HATA_ID] [int] NOT NULL,
 CONSTRAINT [PK_HATALI_URUNLER] PRIMARY KEY CLUSTERED 
(
	[HATALI_URUN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IADE_DURUMLARI]    Script Date: 30.12.2022 22:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IADE_DURUMLARI](
	[IADE_DURUMU_ID] [int] NOT NULL,
	[IADE_DURUMU] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_IADE_DURUMLARI] PRIMARY KEY CLUSTERED 
(
	[IADE_DURUMU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INDIRIMLER]    Script Date: 30.12.2022 22:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INDIRIMLER](
	[INDIRIM_ID] [int] NOT NULL,
	[URUN_ID] [int] NOT NULL,
	[ESKI_FIYAT] [int] NULL,
	[YENI_FIYAT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTERILER]    Script Date: 30.12.2022 22:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERILER](
	[MUSTERI_ID] [int] NOT NULL,
	[SEHIR_ID] [int] NOT NULL,
 CONSTRAINT [PK_MUSTERILER] PRIMARY KEY CLUSTERED 
(
	[MUSTERI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ODEME_YONTEMLERI]    Script Date: 30.12.2022 22:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ODEME_YONTEMLERI](
	[ODEME_YONTEMI_ID] [int] NOT NULL,
	[ODEME_YONTEMI] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ODEME_YONTEMLERI] PRIMARY KEY CLUSTERED 
(
	[ODEME_YONTEMI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATIS_KANALLARI]    Script Date: 30.12.2022 22:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATIS_KANALLARI](
	[SATIS_KANALI_ID] [int] NOT NULL,
	[SATIS_KANALI] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_SATIS_KANALLARI_1] PRIMARY KEY CLUSTERED 
(
	[SATIS_KANALI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEHIR_SATIS]    Script Date: 30.12.2022 22:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEHIR_SATIS](
	[SEHIR_ID] [int] NOT NULL,
	[SEHIR] [nvarchar](255) NOT NULL,
	[DIZUSTU_BILGISAYAR_SATIS] [int] NULL,
	[CEP_TELEFONU_SATIS] [int] NULL,
	[TABLET_SATIS] [int] NULL,
	[TELEVIZYON_SATIS] [int] NULL,
	[OYUN_KONSOLU_SATIS] [int] NULL,
	[MASAUSTU_BILGISAYAR_SATIS] [int] NULL,
	[KLAVYE_SATIS] [int] NULL,
	[MOUSE_SATIS] [int] NULL,
	[OYUNCU_KULAKIGI_SATIS] [int] NULL,
	[KULAKLIK_SATIS] [int] NULL,
	[YAZICI_SATIS] [int] NULL,
	[FOTOGRAF_MAKINESI_SATIS] [int] NULL,
	[BLUETOOTH_HOPARLOR_SATIS] [int] NULL,
 CONSTRAINT [PK_SEHIR_SATIS] PRIMARY KEY CLUSTERED 
(
	[SEHIR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SORUMLULAR]    Script Date: 30.12.2022 22:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SORUMLULAR](
	[SORUMLU_ID] [int] NOT NULL,
	[SORUMLU_AD] [nvarchar](255) NOT NULL,
	[SORUMLU_SOYAD] [nvarchar](255) NOT NULL,
	[URUN_GRUP_ID] [int] NOT NULL,
 CONSTRAINT [PK_SORUMLULAR] PRIMARY KEY CLUSTERED 
(
	[SORUMLU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUN_GRUP]    Script Date: 30.12.2022 22:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUN_GRUP](
	[URUN_GRUP_ID] [int] NOT NULL,
	[URUN_GRUP] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_URUN_GRUP] PRIMARY KEY CLUSTERED 
(
	[URUN_GRUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUNLER]    Script Date: 30.12.2022 22:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUNLER](
	[URUN_ID] [int] NOT NULL,
	[URUN_GRUP_ID] [int] NOT NULL,
	[URUN_ADI] [nvarchar](255) NOT NULL,
	[URUN_STOK] [int] NULL,
 CONSTRAINT [PK_URUNLER] PRIMARY KEY CLUSTERED 
(
	[URUN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AYLIK_SATIS] ([URUN_ID], [URUN_GRUP_ID], [URUN_ADI], [HEDEFLENEN_SATIS], [GERCEKLESEN_SATIS]) VALUES (1, 1, N'DELL G15 5511', 6049, 5227)
INSERT [dbo].[AYLIK_SATIS] ([URUN_ID], [URUN_GRUP_ID], [URUN_ADI], [HEDEFLENEN_SATIS], [GERCEKLESEN_SATIS]) VALUES (2, 1, N'CASPER EXCALIBUR G770', 5139, 9011)
INSERT [dbo].[AYLIK_SATIS] ([URUN_ID], [URUN_GRUP_ID], [URUN_ADI], [HEDEFLENEN_SATIS], [GERCEKLESEN_SATIS]) VALUES (3, 1, N'DELL INSPIRON 3511', 1379, 210)
GO
INSERT [dbo].[AYLIK_SATIS_BILGILERI] ([TESLIMAT_ID], [URUN_ID], [MUSTERI_ID], [ODEME_YONTEMI_ID], [SATIS_KANALI_ID], [IADE_DURUMU_ID], [SIPARIS_TARIHI], [TESLIMAT_TARIHI]) VALUES (1, 22, 56, 3, 3, 2, CAST(N'2022-09-15' AS Date), CAST(N'2022-09-28' AS Date))
INSERT [dbo].[AYLIK_SATIS_BILGILERI] ([TESLIMAT_ID], [URUN_ID], [MUSTERI_ID], [ODEME_YONTEMI_ID], [SATIS_KANALI_ID], [IADE_DURUMU_ID], [SIPARIS_TARIHI], [TESLIMAT_TARIHI]) VALUES (2, 27, 30, 2, 2, 2, CAST(N'2022-03-01' AS Date), CAST(N'2022-03-09' AS Date))
INSERT [dbo].[AYLIK_SATIS_BILGILERI] ([TESLIMAT_ID], [URUN_ID], [MUSTERI_ID], [ODEME_YONTEMI_ID], [SATIS_KANALI_ID], [IADE_DURUMU_ID], [SIPARIS_TARIHI], [TESLIMAT_TARIHI]) VALUES (3, 38, 61, 2, 1, 1, CAST(N'2022-08-09' AS Date), CAST(N'2022-08-22' AS Date))
GO
INSERT [dbo].[HATA_DURUMLARI] ([HATA_ID], [HATA_DURUMULARI]) VALUES (1, N'Hata yok')
INSERT [dbo].[HATA_DURUMLARI] ([HATA_ID], [HATA_DURUMULARI]) VALUES (2, N'Su geçirmiş')
INSERT [dbo].[HATA_DURUMLARI] ([HATA_ID], [HATA_DURUMULARI]) VALUES (3, N'Bozuk parça')
GO
INSERT [dbo].[HATALI_URUNLER] ([HATALI_URUN_ID], [URUN_ID], [HATA_ID]) VALUES (1, 61, 3)
INSERT [dbo].[HATALI_URUNLER] ([HATALI_URUN_ID], [URUN_ID], [HATA_ID]) VALUES (2, 38, 6)
INSERT [dbo].[HATALI_URUNLER] ([HATALI_URUN_ID], [URUN_ID], [HATA_ID]) VALUES (3, 45, 4)
GO
INSERT [dbo].[IADE_DURUMLARI] ([IADE_DURUMU_ID], [IADE_DURUMU]) VALUES (1, N'İade Edildi')
INSERT [dbo].[IADE_DURUMLARI] ([IADE_DURUMU_ID], [IADE_DURUMU]) VALUES (2, N'İade Edilmedi')
GO
INSERT [dbo].[INDIRIMLER] ([INDIRIM_ID], [URUN_ID], [ESKI_FIYAT], [YENI_FIYAT]) VALUES (1, 1, 25000, 19000)
INSERT [dbo].[INDIRIMLER] ([INDIRIM_ID], [URUN_ID], [ESKI_FIYAT], [YENI_FIYAT]) VALUES (2, 46, 19000, 15000)
INSERT [dbo].[INDIRIMLER] ([INDIRIM_ID], [URUN_ID], [ESKI_FIYAT], [YENI_FIYAT]) VALUES (3, 73, 20000, 15000)
GO
INSERT [dbo].[MUSTERILER] ([MUSTERI_ID], [SEHIR_ID]) VALUES (1, 17)
INSERT [dbo].[MUSTERILER] ([MUSTERI_ID], [SEHIR_ID]) VALUES (2, 47)
INSERT [dbo].[MUSTERILER] ([MUSTERI_ID], [SEHIR_ID]) VALUES (3, 2)
GO
INSERT [dbo].[ODEME_YONTEMLERI] ([ODEME_YONTEMI_ID], [ODEME_YONTEMI]) VALUES (1, N'Kredi Kartı')
INSERT [dbo].[ODEME_YONTEMLERI] ([ODEME_YONTEMI_ID], [ODEME_YONTEMI]) VALUES (2, N'EFT-Havale')
INSERT [dbo].[ODEME_YONTEMLERI] ([ODEME_YONTEMI_ID], [ODEME_YONTEMI]) VALUES (3, N'Kapıda Ödeme')
GO
INSERT [dbo].[SATIS_KANALLARI] ([SATIS_KANALI_ID], [SATIS_KANALI]) VALUES (1, N'Toptan')
INSERT [dbo].[SATIS_KANALLARI] ([SATIS_KANALI_ID], [SATIS_KANALI]) VALUES (2, N'Perakande')
INSERT [dbo].[SATIS_KANALLARI] ([SATIS_KANALI_ID], [SATIS_KANALI]) VALUES (3, N'İnternet')
GO
INSERT [dbo].[SEHIR_SATIS] ([SEHIR_ID], [SEHIR], [DIZUSTU_BILGISAYAR_SATIS], [CEP_TELEFONU_SATIS], [TABLET_SATIS], [TELEVIZYON_SATIS], [OYUN_KONSOLU_SATIS], [MASAUSTU_BILGISAYAR_SATIS], [KLAVYE_SATIS], [MOUSE_SATIS], [OYUNCU_KULAKIGI_SATIS], [KULAKLIK_SATIS], [YAZICI_SATIS], [FOTOGRAF_MAKINESI_SATIS], [BLUETOOTH_HOPARLOR_SATIS]) VALUES (1, N'Adana', 1875, 4543, 1966, 4453, 637, 33, 5346, 384, 8701, 2344, 4430, 5318, 3897)
INSERT [dbo].[SEHIR_SATIS] ([SEHIR_ID], [SEHIR], [DIZUSTU_BILGISAYAR_SATIS], [CEP_TELEFONU_SATIS], [TABLET_SATIS], [TELEVIZYON_SATIS], [OYUN_KONSOLU_SATIS], [MASAUSTU_BILGISAYAR_SATIS], [KLAVYE_SATIS], [MOUSE_SATIS], [OYUNCU_KULAKIGI_SATIS], [KULAKLIK_SATIS], [YAZICI_SATIS], [FOTOGRAF_MAKINESI_SATIS], [BLUETOOTH_HOPARLOR_SATIS]) VALUES (2, N'Adıyaman', 2260, 901, 6277, 6511, 984, 8880, 3291, 2737, 528, 5580, 6224, 6915, 2718)
INSERT [dbo].[SEHIR_SATIS] ([SEHIR_ID], [SEHIR], [DIZUSTU_BILGISAYAR_SATIS], [CEP_TELEFONU_SATIS], [TABLET_SATIS], [TELEVIZYON_SATIS], [OYUN_KONSOLU_SATIS], [MASAUSTU_BILGISAYAR_SATIS], [KLAVYE_SATIS], [MOUSE_SATIS], [OYUNCU_KULAKIGI_SATIS], [KULAKLIK_SATIS], [YAZICI_SATIS], [FOTOGRAF_MAKINESI_SATIS], [BLUETOOTH_HOPARLOR_SATIS]) VALUES (3, N'Afyonkarahisar', 7862, 6368, 6999, 4864, 6109, 4327, 3201, 2222, 9709, 2802, 7090, 3057, 9695)
GO
INSERT [dbo].[SORUMLULAR] ([SORUMLU_ID], [SORUMLU_AD], [SORUMLU_SOYAD], [URUN_GRUP_ID]) VALUES (1, N'Clearence', N'Callahan', 8)
INSERT [dbo].[SORUMLULAR] ([SORUMLU_ID], [SORUMLU_AD], [SORUMLU_SOYAD], [URUN_GRUP_ID]) VALUES (2, N'Joe', N'Vega', 9)
INSERT [dbo].[SORUMLULAR] ([SORUMLU_ID], [SORUMLU_AD], [SORUMLU_SOYAD], [URUN_GRUP_ID]) VALUES (3, N'Kassper', N'Dahmer', 13)
GO
INSERT [dbo].[URUN_GRUP] ([URUN_GRUP_ID], [URUN_GRUP]) VALUES (1, N'Dizüstü Bilgisayar')
INSERT [dbo].[URUN_GRUP] ([URUN_GRUP_ID], [URUN_GRUP]) VALUES (2, N'Cep Telefonu')
INSERT [dbo].[URUN_GRUP] ([URUN_GRUP_ID], [URUN_GRUP]) VALUES (3, N'Tablet')
GO
INSERT [dbo].[URUNLER] ([URUN_ID], [URUN_GRUP_ID], [URUN_ADI], [URUN_STOK]) VALUES (1, 1, N'DELL G15 5511', 9569)
INSERT [dbo].[URUNLER] ([URUN_ID], [URUN_GRUP_ID], [URUN_ADI], [URUN_STOK]) VALUES (2, 1, N'CASPER EXCALIBUR G770', 1471)
INSERT [dbo].[URUNLER] ([URUN_ID], [URUN_GRUP_ID], [URUN_ADI], [URUN_STOK]) VALUES (3, 1, N'DELL INSPIRON 3511', 96)
GO
ALTER TABLE [dbo].[AYLIK_SATIS]  WITH CHECK ADD  CONSTRAINT [FK_AYLIK_SATIS_ürün] FOREIGN KEY([URUN_ID])
REFERENCES [dbo].[URUNLER] ([URUN_ID])
GO
ALTER TABLE [dbo].[AYLIK_SATIS] CHECK CONSTRAINT [FK_AYLIK_SATIS_ürün]
GO
ALTER TABLE [dbo].[AYLIK_SATIS]  WITH CHECK ADD  CONSTRAINT [FK_AYLIK_SATIS_ürün_grup] FOREIGN KEY([URUN_GRUP_ID])
REFERENCES [dbo].[URUN_GRUP] ([URUN_GRUP_ID])
GO
ALTER TABLE [dbo].[AYLIK_SATIS] CHECK CONSTRAINT [FK_AYLIK_SATIS_ürün_grup]
GO
ALTER TABLE [dbo].[AYLIK_SATIS_BILGILERI]  WITH CHECK ADD  CONSTRAINT [FK_SATIS_BILGILERI_iade_durumu] FOREIGN KEY([IADE_DURUMU_ID])
REFERENCES [dbo].[IADE_DURUMLARI] ([IADE_DURUMU_ID])
GO
ALTER TABLE [dbo].[AYLIK_SATIS_BILGILERI] CHECK CONSTRAINT [FK_SATIS_BILGILERI_iade_durumu]
GO
ALTER TABLE [dbo].[AYLIK_SATIS_BILGILERI]  WITH CHECK ADD  CONSTRAINT [FK_SATIS_BILGILERI_müşteri] FOREIGN KEY([MUSTERI_ID])
REFERENCES [dbo].[MUSTERILER] ([MUSTERI_ID])
GO
ALTER TABLE [dbo].[AYLIK_SATIS_BILGILERI] CHECK CONSTRAINT [FK_SATIS_BILGILERI_müşteri]
GO
ALTER TABLE [dbo].[AYLIK_SATIS_BILGILERI]  WITH CHECK ADD  CONSTRAINT [FK_SATIS_BILGILERI_ödeme_yöntemi] FOREIGN KEY([ODEME_YONTEMI_ID])
REFERENCES [dbo].[ODEME_YONTEMLERI] ([ODEME_YONTEMI_ID])
GO
ALTER TABLE [dbo].[AYLIK_SATIS_BILGILERI] CHECK CONSTRAINT [FK_SATIS_BILGILERI_ödeme_yöntemi]
GO
ALTER TABLE [dbo].[AYLIK_SATIS_BILGILERI]  WITH CHECK ADD  CONSTRAINT [FK_SATIS_BILGILERI_satış_kanalı] FOREIGN KEY([SATIS_KANALI_ID])
REFERENCES [dbo].[SATIS_KANALLARI] ([SATIS_KANALI_ID])
GO
ALTER TABLE [dbo].[AYLIK_SATIS_BILGILERI] CHECK CONSTRAINT [FK_SATIS_BILGILERI_satış_kanalı]
GO
ALTER TABLE [dbo].[AYLIK_SATIS_BILGILERI]  WITH CHECK ADD  CONSTRAINT [FK_SATIS_BILGILERI_ürün] FOREIGN KEY([URUN_ID])
REFERENCES [dbo].[URUNLER] ([URUN_ID])
GO
ALTER TABLE [dbo].[AYLIK_SATIS_BILGILERI] CHECK CONSTRAINT [FK_SATIS_BILGILERI_ürün]
GO
ALTER TABLE [dbo].[INDIRIMLER]  WITH CHECK ADD  CONSTRAINT [FK_INDIRIMLER_ürün] FOREIGN KEY([URUN_ID])
REFERENCES [dbo].[URUNLER] ([URUN_ID])
GO
ALTER TABLE [dbo].[INDIRIMLER] CHECK CONSTRAINT [FK_INDIRIMLER_ürün]
GO
ALTER TABLE [dbo].[MUSTERILER]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERILER_şehir] FOREIGN KEY([SEHIR_ID])
REFERENCES [dbo].[SEHIR_SATIS] ([SEHIR_ID])
GO
ALTER TABLE [dbo].[MUSTERILER] CHECK CONSTRAINT [FK_MUSTERILER_şehir]
GO
ALTER TABLE [dbo].[SORUMLULAR]  WITH CHECK ADD  CONSTRAINT [FK_SORUMLULAR_grup_id] FOREIGN KEY([URUN_GRUP_ID])
REFERENCES [dbo].[URUN_GRUP] ([URUN_GRUP_ID])
GO
ALTER TABLE [dbo].[SORUMLULAR] CHECK CONSTRAINT [FK_SORUMLULAR_grup_id]
GO
ALTER TABLE [dbo].[URUNLER]  WITH CHECK ADD  CONSTRAINT [FK_URUNLER_grup_id] FOREIGN KEY([URUN_GRUP_ID])
REFERENCES [dbo].[URUN_GRUP] ([URUN_GRUP_ID])
GO
ALTER TABLE [dbo].[URUNLER] CHECK CONSTRAINT [FK_URUNLER_grup_id]
GO
ALTER TABLE [dbo].[AYLIK_SATIS_BILGILERI]  WITH CHECK ADD  CONSTRAINT [chk_Dates] CHECK  (((2022)<(2023)))
GO
ALTER TABLE [dbo].[AYLIK_SATIS_BILGILERI] CHECK CONSTRAINT [chk_Dates]
GO
USE [master]
GO
